/* :root {
    --start-button-border:#154abc9e;
    --start-button-background: 
    --start-button-shadow:rgba(202, 16, 16, 0.247);
    --start-button-text-color: rgb(248, 237, 237);
    --start-button-hoverbackground:rgb(248, 237, 237);
    --start-button-hoverborder:rgb(248, 237, 237);
    --start-button-hovershadow:rgb(248, 237, 237);
    
}

.startButton {
    background-color: var(--start-button-background);
    border: 0;
    border-color: var(--start-button-border);
    border-radius: 2rem;
    color: rgb(248, 237, 237);
    cursor: pointer;
    box-shadow: var(--start-button-shadow) 0 1px 0 inset,
      rgba(50, 54, 70, 0.378) 0 10px 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-items: center;
    width: 10rem;
    height: 10rem;
    outline: 0;
    margin-bottom: 10%;
    margin-top: 10%;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .startButton:before {
    background-color: initial;
    background-image: linear-gradient(rgb(164, 162, 182) 0, rgba(79, 41, 41, 0) 90%);
    border-radius: 2rem;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .3;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  .startButton:hover {
    background-color: var(--start-button-hoverbackground);
    border-color: var(--start-button-hoverborder);
    box-shadow: var(--start-button-hovershadow) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(167, 22, 22, 0.1) 0 10px 13px;
    transform: scale(1.05);
  }
  
  @media (min-width: 768px) {
    .startButton {
      padding: 16px 48px;
    }
  }
   */